@media screen and (min-width: 320px) {
    .grid-index { 
        font-size: smaller;
        display: grid;
        justify-content:space-around
    }
}
@media screen and (min-width: 480px) {
    .grid-index { 
        grid-template-columns: repeat(4,1fr);
        justify-content: space-around;
    }
    
}
@media screen and (min-width: 768px) {
    .grid-index { 
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width: 1023px) {
    .grid-index {
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width: 870px) {
    .grid-index { 
        display: flex;
        justify-content: space-around;
        margin: 3px;
    }
}
@media screen and (min-width: 320px) {
    .h1 {
        display: flex;
        margin: 0;
    }
}