p{
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    margin: 20px;
    font-style: normal;
    background-color: $color;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}